<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=testowa_baza;Trusted_Connection=True;TrustServerCertificate=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ExcelFilePath" value="transactionDump_2026-02-10_2026_03_03_FULL.xlsx" />
  </appSettings>
</configuration>